.navbar {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.left {
  flex: 1;
  
}
img {
  border-radius: 20px;
}

.center {
  display: flex;
  gap: 20px;
  list-syle: none;
  flex: 0 0 auto;
  justify-content: center;
  color: rgba(110,200,200,0.6);
  font-size: 20px;
}
.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
button {
  background-color: rgba(110,200,200,0.6)
  ;
  color: white; 
  border: none;
  border-radius: 40px;
  padding: 10px;
  width: 80px;
  
  
}
button:hover {
  background-color: lightblue;
  opacity: 0.5;
  cursor: pointer;
}